iframe {
  border: none;
}


.page-messstellen-popup #main, .page-messstellen-popup #content {
  margin: 0;
  width: 350px;
}

.page-messstellen-popup #page-wrapper, .page-messstellen-popup #main-wrapper  {
  min-width: 350px;
  max-width: 350px;
  min-height: 240px;
  max-height: 240px;
  overflow: hidden;
}


.page-messstellen-popup .field, .page-messstellen-popup .node-teaser {
  margin: 0;  padding: 0; border: none;
}

.page-messstellen-popup .link-wrapper {
  display: none;
}

.node-hw-messstelle.node-full .field-name-field-hw-geoposition {
  float: right;
}

/* messstellen teaser listings */

.node-hw-messstelle.node-teaser .field::after {
  clear: left;
}

.node-hw-messstelle.node-teaser .field-name-field-hw-geoposition {
  float: right;
}

/*
.view-hw-messstellen-list .views-field-field-hw-geoposition {
  float: right;
}

.view-hw-messstellen-list .views-field-field-hw-werte {
  float: right;
}
*/
